@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;
    --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
    --lg-font: "Kaisei Tokumin", serif;
    --sm-font: "Poppins", sans-serif;
    --pink: #e5345b;
}

::-webkit-scrollbar {
    width: 11px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--body-bg-color);
    height: 100vh;
    width: 100%;
}

.section {
    color: var(--dark-color);
    background: var(--white-color);
    padding: 35px 200px;
    transition: 0.3s ease;
}
/* HEADER */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 6rem;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height, background;
}

header.sticky {
    height: 3.5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}

.nav-close-btn,
.nav-menu-btn {
    display: none;
}

.nav-bar .logo {
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a {
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a i {
    display: none;
}

.navigation .nav-items a:not(:last-child) {
    margin-right: 45px;
}

/* HOME idex.html*/

.home {
    min-height: 100vh;
}

.home:before {
    z-index: 888;
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
}

.bg-slider {
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.bg-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slider .swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.swiper-slide .text-content {
    position: absolute;
    top: 25%;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}

.swiper-slide .text-content .title {
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .title span {
    font-size: 0.3em;
    font-weight: 300;
}

.swiper-slide .text-content p {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateY(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content p {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-weight: 500;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .read-btn {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.6s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i {
    font-size: 1.6em;
    transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i {
    transform: translateX(5px);
}

.dark-layer:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.bg-slider-thumbs {
    z-index: 777;
    position: absolute;
    bottom: 7em;
    transform: translateX(-50px);
    transition: 0.3s ease;
}

.thumbs-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.thumbs-container img {
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide-thumb-active {
    border: 1px solid var(--white-color);

}

.swiper-slide .text-content {
    margin: 0 200px;
}

.swiper-slide .text-content .title {
    font-size: 4em;
}

.swiper-slide .text-content p {
    max-width: 700px;
}

.swiper-slide .text-content .read-btn {
    font-size: 1em;
}

.bg-slider-thumbs {
    left: 50%;
}

/* home2 descuentos.html y carritocompra.html*/
.home2 {
    min-height: 100vh;
}

.home2:before {
    z-index: 888;
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
}

.swiper-slide .text-content2 {
    position: absolute;
    top: 25%;
    color: rgb(255, 255, 255);
    margin: 0 100px;
    transition: 0.3s ease;
}

.swiper-slide .text-content2 .title2 {
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    position: relative;
    left: 70%;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content2 .title2 {
    transform: translateY(0);
    position: relative;
    left: 75%;
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content2 .title2 span {
    font-size: 0.3em;
    font-weight: 300;
}

.swiper-slide .text-content2 .p2 {
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    position: relative;
    left: 65%;
    transform: translateY(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content2 .p2 {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content2 .read-btn2 {
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 90%;
    transform: translateX(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content2 .read-btn2 {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.6s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content2 .read-btn2 i {
    font-size: 1.6em;
    transition: 0.3s ease;
}

.swiper-slide .text-content2 .read-btn2:hover i {
    transform: translateX(5px);
}
/* boton de descuento.html*/
.swiper-slide .text-content2 .read-btn22 {
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 98%;
    transform: translateX(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content2 .read-btn22 {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.6s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content2 .read-btn22 i {
    font-size: 1.6em;
    transition: 0.3s ease;
}

.swiper-slide .text-content2 .read-btn22:hover i {
    transform: translateX(5px);
}
/*--------------------------------------------------------*/
.swiper-slide .text-content2 #resultado{
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    position: relative;
    left: 55%;
    transform: translateY(-80px);
    opacity: 0;
    margin: 40px;
}

.swiper-slide-active .text-content2 #resultado{
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}


/* home2 convertidor.html*/

.swiper-slide .text-content22 {
    position: absolute;
    top: 15%;
    color: rgb(255, 255, 255);
    margin: 0 100px;
    transition: 0.3s ease;
}

.swiper-slide .text-content22 .title2 {
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    position: relative;
    left: 65%;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content22 .title2 {
    transform: translateY(0);
    position: relative;
    left: 59%;
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content22 .title2 span {
    font-size: 0.3em;
    font-weight: 300;
}

.swiper-slide .text-content22 .p2 {
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    position: relative;
    left: 57%;
    transform: translateY(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content22 .p2 {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content22 .read-btn2 {
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 90%;
    transform: translateX(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content22 .read-btn2 {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.6s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content22 .read-btn2 i {
    font-size: 1.6em;
    transition: 0.3s ease;
}

.swiper-slide .text-content22 .read-btn2:hover i {
    transform: translateX(5px);
}

.swiper-slide .text-content22 #resultado{
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    position: relative;
    left: 57%;
    transform: translateY(-80px);
    opacity: 0;
    margin: 20px;
}

.swiper-slide-active .text-content22 #resultado{
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

/* carritocompra css*/

#simulador-compra {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#productos,
#carrito {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 48%;
}

#carrito {
    position: relative;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#total {
    font-weight: bold;
}

#vaciar-carrito,
#pagar {
    margin-top: 10px;
}

#opciones-adicionales {
    margin-top: 20px;
    text-align: center;
}

#opciones-adicionales button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#opciones-adicionales button:hover {
    background-color: #007bff;
    color: #fff;
}
.producto {
    background-color: #fff;
}

.producto h3 {
    font-size: 1.2em;
}

.producto p {
    margin-bottom: 10px;
}

.producto button {
    font-size: 16px;
}

#vaciar-carrito,
#pagar {
    margin-top: 10px;
}

#vaciar-carrito,
#pagar,
.eliminar {
    font-size: 14px;
}

#vaciar-carrito,
#pagar {
    width: 100%;
}

#vaciar-carrito,
#pagar,
.eliminar {
    font-size: 14px;
    transition: background-color 0.3s;
}

.producto h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    flex: 1 0 20%;
    min-height: 200px; 
    height: 400px;
}


#lista-carrito {
    list-style: none;
    padding: 0;
}

.list-group-item {
    margin-bottom: 10px;
}

.eliminar {
    cursor: pointer;
}

/* footer */
footer {
    padding: 40px 0;
    background: linear-gradient(100deg, #646464, #000);
    color: #fff;
    text-align: center;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 16px;
    opacity: 0.8;
    margin-top: 20px;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}
.social-icons li {
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.3s ease;
}
.social-icons a {
    text-decoration: none;
    transition: color 0.3s;
}
.social-icons a .uil-facebook:hover {
    color: #1877f2;
}
.social-icons a .uil-instagram:hover {
    color: #e4405f;
}
.social-icons a .uil-twitter:hover {
    color: #1da1f2;
}
.social-icons a .uil-whatsapp:hover {
    color: #25d366;
}
.social-icons i {
    font-size: 36px;
    transition: color 0.3s;
}
.social-icons i:hover {
    color: #f2f2f2;
    transform: translateY(-5px);
}
